@page
@using Task1.AppCode
@model Task1.Pages.ProjectNTier.ListModel
@{
}



<div class="d-flex justify-content-between align-items-center mb-3 wtxt">
    <h1>Project Expense List</h1>
    <a href="/ProjectNTier/Add" class="btn btn-primary"><i class="bi bi-plus-lg"></i> Add</a>
</div>
@{
    Html.RenderPartialAsync("_Message");
}
<table class="table table-striped tab" style="border: 2px solid black;">
    <thead>

    <th scope="col">Name</th>
    <th scope="col">Description </th>

    <th scope="col">Created By</th>
    <th scope="col">Updated By</th>
    <th scope="col">Action</th>
    </thead>
    <tbody>
        @foreach (var item in Model.ProjectList)
        {
            <tr>
                <td> @item.Name</td>

                <td> @item.Description</td>





                <td>
                    @item.CreatedBy
                    <br />
                    @Html.DisplayDate(@item.CreatedOnUTC)
                </td>

                <td>
                    @item.UpdatedBy
                    <br />
                    @Html.DisplayDate(@item.UpdatedOnUTC)
                </td>

                <td>
                    <a href="/ProjectNTier/Update?id=@item.Id" class="btn btn-link" title="Edit"><i class="bi bi-pencil-square" style="color: darkgoldenrod;"></i></a>
                    <a href="#." title="Delete" onclick="ShowDeleteConfirmation(@item.Id);" class="btn btn-link"><i class="bi bi-trash" style="color: red;"></i></a>
                </td>
            </tr>

        }
    </tbody>

</table>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Delete</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                You are going to delete  Expanse Category. Are you sure, you wanted to proceed!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" onclick="DeleteRecord();">Yes</button>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="~/js/jquery.blockui.js"></script>

    <script type="text/javascript">
        var delProjectId = 0;
        function ShowDeleteConfirmation(id) {
            delProjectId = id;
            $("#exampleModalCenter").modal("show");
        }
        function DeleteRecord() {
            $("#exampleModalCenter").modal("hide");
            $.blockUI();
            document.location.href = "/ProjectNTier/List?handler=Delete&id=" + delProjectId;
        }

    </script>
    <style>

        .tab {
            background-color: white;
        }

        .wtxt {
            color: white;
        }

    </style>

}